/* box.css */

.game-container {
  display: flex;
  width: 600px;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 70%;
  gap: 5px
}



/* Add media query for responsiveness */


.box {
  position: relative;
  width: 80px;
  height: 80px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 2s ease;
}


.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Added transition for smooth flipping */
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable-image {
  cursor: pointer;
}

.image {
  width: 80px;
  height: 80px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  width: 80px;
  height: 80px;
  font-weight: bold;
  /* Initially hide the back side */
}
















@media (min-width: 300px) and (max-width: 700px) {
  .game-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .boxes {
    display: flex;
    width: 90%;
    height: 90%;

    justify-content: center;
    align-items: center;
    /* gap: 5px; */
  }
  .box{
    width: 16%;
    /* margin: 5px; */
    height: 13%;
  }
  .image {
    width: 100% !important;
    height: 100% !important;
  }
  
  .back {
   
    width: 100% !important;
    height: 100% !important;
    /* Initially hide the back side */
  }
  .front {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

}


@media (min-width: 701px) and (max-width: 950px) {
  .game-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .boxes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
  }
  .box{
    width: 20%;
    /* margin: 5px; */
    height: 15%;

  }
  .image {
    width: 100% !important;
    height: 100% !important;
  }
  
  .back {
   
    width: 100% !important;
    height: 100% !important;
    /* Initially hide the back side */
  }
  .front {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

}




.rolling {
  animation: rolling-animation 3s ease 2; /* Rolling animation */
}

@keyframes rolling-animation {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  50% {
    transform: rotateX(360deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(720deg) rotateY(720deg);
  }
}

.boxespointer {
  pointer-events: none;
}
